<h1 align="center">Articles</h1>

<% @articles.each do |article| %>
<div class="card col-xs-8 col-xs-offset-2 mb-3">
  <div class="card-header article-title">
    
    <%= link_to article.title, article_path(article) %>
  </div>
  <div class="card-body article-body">
    <%= truncate(article.description, length: 150) %>
  </div>
  <div class="article-actions ">

    <%= link_to "Edit Article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete Article", article_path(article), method: :delete,
    data: {confirm: "Are you sure you want to delete the article"},
    class: "btn btn-xs btn-danger" %>
  </div>
</div>
<% end %>

<%= link_to 'Home', root_path %>
